name: CI Pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build_and_test:
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        
      - name: Get Commit SHA
        id: commit_sha
        run: echo "::set-output name=sha::$(git rev-parse HEAD)"

      - name: Run Local Test
        run: |
          # Run Docker Compose locally
          docker-compose up -d

          # Wait for a moment to let containers start
          sleep 10

          # Test if the app is running by making a request to localhost:5000
          response_code=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:5000)

          # Exit if response code is not 200
          if [ $response_code -ne 200 ]; then
            echo "Local test failed with response code: $response_code"
            exit 1
          fi

      - name: Build and Push MongoDB Image
        uses: docker/build-push-action@v2
        with:
          context: ./db
          file: ./db/Dockerfile
          push: true
          tags: docker.io/bensocho1312/bens-repo:mongodb-${{ steps.commit_sha.outputs.sha }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Python App Image
        uses: docker/build-push-action@v2
        with:
          context: ./app
          file: ./app/Dockerfile
          push: true
          tags: docker.io/bensocho1312/bens-repo:python-app-${{ steps.commit_sha.outputs.sha }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}


